body{
    background-image: linear-gradient( rgba(62, 56, 90, 0.395), rgb(62, 56, 90));
}

h1 {
    text-align: center;    
}

.subjects {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
    
}

.subjects a {
    text-decoration: none;
    color: black;
}

.subbox {
    border: solid black;
    padding: 10px;   
    background-color: rgba(255, 255, 255, 0); 
}

